---
import { MdChevronLeft, MdChevronRight } from "react-icons/md";
import PokemonComponent from "../../components/ui/pokemon/PokemonComponent";
import PokemonIconComponent from "../../components/ui/shared/PokemonIcon";
import { pokemon, learnsets } from "../../data";
import Layout from "../../layouts/Layout.astro";
import {
  getMonAlternateForms,
  getMonPaginator,
} from "../../utils/pokemon.data.utils";

export async function getStaticPaths() {
  return pokemon.map((mon) => ({
    params: { species: mon.species.toLowerCase() || "lugia_shadow" },
    props: { mon },
  }));
}

function getLearnset(pokemonId: number) {
  return learnsets.find((ls) => ls.species === pokemonId);
}

const { mon } = Astro.props;
const [prev, next] = getMonPaginator(mon.species);
---

<Layout title="Pokèmon">
  <div class="flex justify-between mx-4 my-2">
    {
      prev && (
        <a
          href={`/pokemon/${prev.species.toLowerCase()}`}
          class="flex items-end"
        >
          <MdChevronLeft size={20} />
          <PokemonIconComponent species={prev.id} />
          <span class="ml-2">{prev.speciesName}</span>
        </a>
      )
    }
    <PokemonIconComponent species={mon.id} />
    {
      next && (
        <a
          href={`/pokemon/${next.species.toLowerCase()}`}
          class="flex items-end"
        >
          <span class="mr-2">{next.speciesName}</span>
          <PokemonIconComponent species={next.id} />
          <MdChevronRight size={20} />
        </a>
      )
    }
  </div>
  <PokemonComponent
    client:visible
    pokemon={mon}
    forms={getMonAlternateForms(mon.species)}
    learnset={getLearnset(mon.id)}
  />
</Layout>
